@charset "UTF-8";
@import url('https://fonts.googleapis.com/css2?family=PT+Serif:ital,wght@0,400;0,700;1,400;1,700&display=swap'); /*PT Serif*/
@import url('https://fonts.googleapis.com/css2?family=Lora:ital,wght@0,400..700;1,400..700&display=swap'); /*Lora*/
*{  
margin: auto;
padding: 0px;
}
:root{
--fontepadrao: Arial, sans-serif;
--fonte01: 'PT Serif',sans-serif;
--fonte02: 'Lora', sans-serif;
--cor01: #EFE182;
--cor02: #F0D52B;
}
header{

background-image: linear-gradient(to bottom, var(--cor01) 30%, var(--cor02));
padding: 30px;
}
.log{
text-align: center;
font-size: 1.3em;
font-family: var(--fonte01);
font-weight: 700;
color: black;
font-variant: small-caps;
text-shadow: 2px -1px 2px rgba(0, 0, 0, 0.452);
text-decoration: none;
font-variant: small-caps;
}
.ct{
font-size: 2.3em;
}
header > h1{
margin-top: -15px;
padding-top: 10px;
text-align: center;
font-size: 3em;
font-family: var(--fonte01);
font-weight: 700;
color: black;
font-variant: small-caps;
text-shadow: 2px -1px 2px rgba(0, 0, 0, 0.452);
margin-left: 0px;

}
hr{
border: 1.75px solid black;
}