@charset "UTF-8";
@import url('https://fonts.googleapis.com/css2?family=PT+Serif:ital,wght@0,400;0,700;1,400;1,700&display=swap'); /*PT Serif*/
@import url('https://fonts.googleapis.com/css2?family=Lora:ital,wght@0,400..700;1,400..700&display=swap'); /*Lora*/
*{
    margin: auto;
    padding: 0px;
    font-family: var(--fontepadrao);
}
.v{
    display: inline-block;
    font-size: 2em;
    margin-right: -2px;
}
.upd{
    text-align: right;
    font-size: 0.93em;
    margin-top: -20px;
    font-weight: bold;
}
abbr{
    text-decoration: none
}
:root{
    --fontepadrao: Arial, sans-serif;
    --fonte01: 'PT Serif',sans-serif;
    --fonte02: 'Lora', sans-serif;
    --cor01: #EFE182;
    --cor02: #F0D52B;
}
body{
    background-color: beige;
}

header{
    background-image: linear-gradient(to bottom, var(--cor01) 40%, var(--cor02));
    box-shadow: 1px 3px 11px 2px rgba(0, 0, 0, 0.479);
    text-align: center;
    padding-top: 20px;
    padding-bottom: 10px;
}

.log{
    font-size: 3.5em;
    font-family: var(--fonte01);
    font-weight: 700;
    color: black;
    font-variant: small-caps;
    text-shadow: 2px -1px 2px rgba(0, 0, 0, 0.452);
}
.fim{
    padding-bottom: 20px;
}
header > h1{
       
    margin-top: 10px;
    margin-top: 20px;
    font-family: var(--fonte01);
    font-size: 2em;
    font-weight: bold;
    padding-top: 7px;
    padding-bottom: 0px;
    font-variant: small-caps;
    font-weight: bolder;
}
nav{
    margin-top: 20px;
    text-align: left;
    padding-left: 15px;
}
nav > a{
    text-align: left;
    margin-left: 3px;
    font-weight: bold;
    padding: 10px;
}
nav > a:hover{
    background-color: rgba(240, 248, 255, 0.425);
    border-radius: 5px;
    transition-duration: 0.5s;
}

a{  
    padding-right: 7px;
    text-decoration: none;
    color: black;
}

section{
    padding-top: 10px;
    padding-left:25px;
    padding-right: 25px;
    text-indent: 30px;
    max-width: 700px;
    min-width: 300px;
    background-color: white;
    text-align: justify;
    line-height: 25px;
}
section > h1{
    padding-bottom: 5px;
    font-size: 1.5em;
}
section > p{
    padding-top: 10px;
}

footer{
    background-color: black;
    color: white;
    font-size: 1em;
    text-align: center;
    padding: 10px;
}
