@charset "UTF-8";
@import url('https://fonts.googleapis.com/css2?family=PT+Serif:ital,wght@0,400;0,700;1,400;1,700&display=swap'); /*PT Serif*/
@import url('https://fonts.googleapis.com/css2?family=Lora:ital,wght@0,400..700;1,400..700&display=swap'); /*Lora*/
*{
    margin: auto;
    padding: 0px;
    font-family: var(--fontepadrao);
}
:root{
    --fontepadrao: Arial, sans-serif;
    --fonte01: 'PT Serif',sans-serif;
    --fonte02: 'Lora', sans-serif;
    --cor01: #EFE182;
    --cor02: #F0D52B;
}

h1{


font-size: 2.2em;
font-family: var(--fonte01);
color: black;
font-variant: small-caps;
}
div.upd{
    text-align: right;
    
}
abbr{
    font-size: 0.85em;
    text-decoration: none;
    font-weight: 600;
}