@charset "UTF-8";

@font-face {
    font-family: 'death';
    src: url('fontes/death_record/Death\ Record.otf') format('opentype');
}
*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif; 
}
body{
    
    background-size: cover;
    height: 100vh;
}


header{
    padding-top: 5px;
    padding-bottom: 5px;
    box-shadow: 2px 2px 3px rgba(0, 0, 0, 0.212);
    background-color: black;
    border: 2px dashed black;
    display: flex;
    flex-flow: row nowrap;
    justify-content: space-between;
    align-items: center;
}
header h1{
    margin-left: 7px;
    color: white;
    padding: 10px;
    font-family: 'death';
}
header > nav{
    display: flex;
    justify-content: flex-end;
    flex-flow: row nowrap;
    
}
nav > a{
    color: rgb(255, 255, 255);
    margin-right: 15px;

    text-decoration: none;
    font-size: 0.95em;
    font-weight: bold;
       padding: 5px;
}
a:hover{
    transition: .1s;
    border-radius: 20px;
 
    background-color: #ffffff;
    color: #000000;
}




















